@media only screen and (max-width: 1024px) and (min-width: 769px) {
    ul.navbar-right {
      padding-right: 30px;
    }

    div.side {
        margin-bottom: 18%;
    }

    .footer-bottom {
        background-color: #388E3C;
        width: 100%;
        position: absolute;
        right: 0;
        margin-top: 20px;
        left: 0;
        padding: 1rem;
        bottom: 0;
    }

    div#content{
      margin-bottom: 15%;
    }
  
    div.container {
      margin-top: 8%;
    }
  
    div.design {
      font-size: 12.5px;
    }
  
    div#copyright{
      font-size: 10px;
    }
}

@media only screen and (max-width: 769px) and (min-width: 425px) {
    ul.navbar-right {
      padding-right: 20px;
    }
    .grid2{
      position: relative;
      height: 150px;
      overflow: hidden;
    }
    .img-slider {
      min-width: 100%;
      max-height: 0%;
    }
    .column .padding {
        padding: 7px;
    }
    .full {
        padding-top: 20px;
    }
    .navbar-blue {
        background-color: #388E3C;
        top: 0;
        width: 100%;
        position: relative;
    }
    .gallery {
      height: 300px;
      padding: 0;
    }
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left.active {
        left: 33%;
    }
    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 5px;
    }

    #sidebar,
    #sidebar a,
    #sidebar-footer a {
        padding-left: 3px;
    }
    div.side {
        margin-bottom: 23%;
    }

    div.container {
      margin-top: 0;
    }
    .footer-bottom {
        background-color: #388E3C;
        width: 100%;
        position: absolute;
        right: 0;
        left: 0;
        padding: 1rem;
        bottom: 0;
    }

    div#content1{
      margin-bottom: 19%;
    }

}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .grid2{
      position: relative;
      height: 90px;
      overflow: hidden;
    }
  h2#title{
    font-size: 20px;
  }
  ul.navbar-right {
      padding-right: 0px;
  }
  .gallery {
    height: 250px;
    padding: 0;
  }

  div#redaksi {
    border-right: none;
    border-bottom: 1px solid #e6e6e6;
}

  div.side {
    margin-bottom: 47%;
  }

  #borderR{
    border-right: 1px solid #e6e6e6;
  }

  .design div{
    font-size: 10px;
    border-bottom: 1px solid #e6e6e6;
    border-right: 0px;
  }

  div#copyright{
    text-align: center;
    font-size: 10px;
  }

  div#content1{
      margin-bottom: 38%;
    }

  h3{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  div.panel-body {
    padding: 10px;
  }

  a.category{
    font-size: 15px;
  }

  div.container {
    padding-right: 0px;
    padding-left: 0px;
  }

  p.text-muted{
    font-size: 14px;
  }
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
  .grid2{
      position: relative;
      height: 70px;
      overflow: hidden;
    }
  div#redaksi {
    border-right: none;
    border-bottom: 1px solid #e6e6e6;
  }
  .gallery {
    height: 200px;
    padding: 0;
  }
  ul.navbar-right {
      padding-right: 0px;
  }

  div.side {
    margin-bottom: 5%;
  }

  #borderR{
    border-right: 1px solid #e6e6e6;
  }

  .design div{
    font-size: 8px;
    border-bottom: 1px solid #e6e6e6;
    border-right: 0px;
  }

  div#copyright{
    text-align: center;
    font-size: 10px;
  }

  div#content1{
      margin-bottom: 2%;
    }

  h3{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 21px;
  }

  div.panel-body {
    padding: 5px;
  }

  a.category{
    font-size: 12px;
  }

  div.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 17%;
  }

  p.text-muted{
    font-size: 11px;
    margin-bottom: 2px;
  }
}

@media only screen and (max-width: 320px) {
  h2#title{
    font-size: 18px;
  }
  .grid2{
      position: relative;
      height: 60px;
      overflow: hidden;
    }
  ul.navbar-right {
      padding-right: 0px;
  }
  
  div.side {
    margin-bottom: 5%;
  }

  div.design{
    font-size: 11px;
  }

  div#copyright{
    text-align: center;
    font-size: 10px;
  }

  h3{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 21px;
  }

  div.panel-body {
    padding: 5px;
  }

  a.category{
    font-size: 12px;
  }

  div.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 18%;
  }

  p.text-muted{
    font-size: 11px;
    margin-bottom: 2px;
  }
}